@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    font-family:'Inter',sans-serif;
}

body{
    background:#f8f5f0;
    overflow-x:hidden;
    color:#111;
}

/* ========================= */
/* TOP BAR */
/* ========================= */

.top-bar{
    background:#111;
    color:#d4af37;
    text-align:center;
    padding:15px;
    font-size:14px;
    letter-spacing:1px;
}

/* ========================= */
/* HEADER */
/* ========================= */

.header{
    width:100%;
    height:100px;
    padding:0 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 20px rgba(0,0,0,0.05);
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:60px;
}

.logo h1{
    font-size:32px;
    font-family:'Cormorant Garamond',serif;
}

.logo span{
    color:#777;
    font-size:13px;
}

.navbar{
    display:flex;
    gap:40px;
}

.navbar a{
    color:#111;
    font-size:17px;
    font-weight:500;
    transition:0.3s;
    text-decoration:none;
}

.navbar a:hover{
    color:#d4af37;
}

.nav-icons{
    display:flex;
    gap:20px;
}

.nav-icons a{
    color:#111;
    font-size:22px;
}



.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:55px;
}

.logo h2{
    font-family:'Cormorant Garamond',serif;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    color:white;
}

nav a:hover{
    color:#d4af37;
}

.hero{
    height:100vh;
    position:relative;
}

.hero img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
    to right,
    rgba(0,0,0,.85),
    rgba(0,0,0,.3));
}

.hero-content{
    position:absolute;
    top:50%;
    left:8%;
    transform:translateY(-50%);
    max-width:700px;
}

.hero-content span{
    color:#d4af37;
    letter-spacing:4px;
}

.hero-content h1{
    font-size:90px;
    line-height:0.95;
    margin:25px 0;
    font-family:'Cormorant Garamond',serif;
    color:white;
}

.hero-content p{
    line-height:2;
    color:#ddd;
}

.intro{
    text-align:center;
    padding:120px 8%;
}

.intro h2{
    font-size:70px;
    font-family:'Cormorant Garamond',serif;
    margin-bottom:20px;
}

.intro p{
    max-width:700px;
    margin:auto;
    color:#bbb;
}

.collections-grid{
    padding:0 8% 150px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:40px;
}

.collection-card{
    background:#171717;
    border-radius:30px;
    overflow:hidden;
    transition:.5s;
}

.collection-card:hover{
    transform:translateY(-12px);
}

.collection-card img{
    width:100%;
    height:500px;
    object-fit:cover;
}

.card-content{
    padding:35px;
}

.card-content span{
    color:#d4af37;
    font-size:14px;
}

.card-content h3{
    font-size:42px;
    margin:15px 0;
    font-family:'Cormorant Garamond',serif;
    color:#d4af37;
}

.card-content p{
    color:#bbb;
    line-height:1.8;
    margin-bottom:25px;
}

.card-content a{
    background:#d4af37;
    color:#111;
    padding:15px 30px;
    border-radius:50px;
    display:inline-block;
    font-weight:600;
}

.luxury-banner{
    padding:140px 8%;
    text-align:center;
    background:#111;
}

.luxury-banner h2{
    font-size:70px;
    font-family:'Cormorant Garamond',serif;
}

.luxury-banner p{
    margin-top:20px;
    color:#bbb;
}

.reveal{
    opacity:0;
    transform:translateY(100px);
    transition:1s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

@media(max-width:900px){

    .hero-content h1{
        font-size:55px;
    }
}
   /* ========================= */
/* FOOTER */
/* ========================= */

.footer{
    background:#0b0b0b;
    color:white;
    padding-top:100px;
}

.footer-grid{
    padding:0 8% 70px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:50px;
}

.footer-grid h2,
.footer-grid h3{
    color:#d4af37;
    margin-bottom:25px;
}

.footer-grid p{
    line-height:2;
    color:#bbb;
}

.footer-grid a{
    display:block;
    margin-bottom:15px;
    color:#ccc;
}

.footer-bottom{
    text-align:center;
    padding:30px;
    border-top:1px solid rgba(255,255,255,0.08);
    color:#777;
}

/* ========================= */
/* ANIMATIONS */
/* ========================= */

@keyframes zoom{

    0%{
        transform:scale(1.05);
    }

    100%{
        transform:scale(1.15);
    }

}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:1000px){

    .hero-content{
        width:100%;
        padding:0 7%;
    }

    .hero-content h1{
        font-size:65px;
    }

    .hero-content p{
        width:100%;
        font-size:16px;
    }

    .hero-buttons{
        flex-direction:column;
        width:250px;
    }

    .section-title h2{
        font-size:42px;
    }

    .section-title p{
        width:100%;
    }

    .newsletter-content{
        width:100%;
    }

    .newsletter form{
        flex-direction:column;
    }

    .navbar{
        display:none;
    }

}